// COLORS
// BASE
$color-primary: #4B98D9;
$color-primary-75: #6FA6D4;
$color-primary-50: #9FC3E2;
$color-primary-25: #CFE1F1;

// NEUTRAL
$color-grey: #353535;
$color-grey-75: #686868;
$color-grey-50: #9A9A9A;
$color-grey-25: #CDCDCD;
$color-light: #FAFCFE;
$color-white: #FFFFFF;
$color-black: #000000;

// FUNCTION
$color-success: #3BD378;
$color-danger: #E75249;
$color-text: #191C3D;

// INFORMATION
$color-text-subtitle: #7579A0;
$color-text-acent: #D8DBF5;
$color-text-light: #F7F7FC;
// END OF COLORS


// FONT
$default-font-size: 16px;
$default-font-family: 'Roboto', sans-serif;




$indigo-palette: (
  25: $color-primary-25,
  50: $color-primary-50,
  75: $color-primary-75,
  100: $color-primary,
  contrast: (25: $color-text,
    50: $color-text,
    75: $color-text,
    100: $color-text,
  )
);



@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($my-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($my-theme);

// Include the theme mixins for other components you use here.