.mat-mdc-checkbox.mat-primary {
  --mdc-checkbox-selected-checkmark-color: var(--color-primary);
  --mdc-checkbox-selected-mixedmark-color: var(--color-primary);

}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
.mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
  border-radius: 6px;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  border-radius: 6px;
  border: 2px solid;
  opacity: 0.5;
}


.mat-mdc-checkbox.mat-primary {
  --mdc-checkbox-selected-checkmark-color: var(--color-primary);
  --mdc-checkbox-selected-mixedmark-color: var(--color-primary);
  --mdc-checkbox-unchecked-color: var(--color-primary);
}