<div class="grid-10">
  <div class="table-header__filters">
    <app-button-outline class="header-filter m-3" (click)="clickMenu()">
      <span class="icon-filter icon mr-3"></span>
      <span class="text">Filtros</span>
    </app-button-outline>

    <ng-container *ngIf="tableFilters().nPolicy">
      <mat-chip-row
        (removed)="remove('nPolicy')"
        [editable]="true"
        aria-description="press enter to edit ">
        {{ tableFilters().nPolicy }}
        <button
          matChipRemove
          [attr.aria-label]="'remove ' + tableFilters().nPolicy">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </ng-container>
    <ng-container *ngIf="tableFilters().state">
      <mat-chip-row
        (removed)="remove('state')"
        [editable]="true"
        aria-description="press enter to edit ">
        {{ tableFilters().state }}
        <button
          matChipRemove
          [attr.aria-label]="'remove ' + tableFilters().state">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </ng-container>
    <ng-container *ngIf="tableFilters().riskName">
      <mat-chip-row
        (removed)="remove('state')"
        [editable]="true"
        aria-description="press enter to edit ">
        {{ tableFilters().riskName }}
        <button
          matChipRemove
          [attr.aria-label]="'remove ' + tableFilters().riskName">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </ng-container>

    <ng-container *ngIf="tableFilters().amoutCantity">
      <mat-chip-row
        (removed)="remove('state')"
        [editable]="true"
        aria-description="press enter to edit ">
        {{ tableFilters().amoutCantity }}
        <button
          matChipRemove
          [attr.aria-label]="'remove ' + tableFilters().amoutCantity">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </ng-container>
  </div>
  <div class="header-botton">
    <div class="header-botton__left">
      <ng-container *ngIf="tableFiltersLength === 0">
        <span>{{ polizas() }} pólizas</span>
      </ng-container>
      <ng-container *ngIf="tableFiltersLength !== 0">
        <div>
          <span>{{ polizas() }} resultados</span>
          <mat-divider [vertical]="true" />
          <span> {{ tableFiltersLength }} filtros aplicados </span>
        </div>
        <button (click)="deleteFilters()" class="filters__reset">
          Borrar filtros
        </button>
      </ng-container>
    </div>
    <div>
      <span class="mr-3"> Ordenar por:</span>
      <button
        mat-stroked-button
        color="primary"
        class="btn-filter"
        [matMenuTriggerFor]="beforeMenu">
        {{ selectedFilter }}
        <span class="icon-arrow icon ml-2 bold"></span>
      </button>
    </div>
  </div>
</div>
<mat-menu #beforeMenu="matMenu" xPosition="before" panelClass="custom-select">
  <ng-container *ngFor="let filter of filters">
    <button mat-menu-item (click)="changeFilter(filter)">
      <span> {{ filter }} </span>
    </button>
  </ng-container>
</mat-menu>
