<div class="grid-10">
  <div>
    <app-button-outline class="header-filter" (click)="clickMenu()">
      <span class="icon-filter icon mr-3"></span>
      <span class="text">Filtros</span>
    </app-button-outline>

    <mat-chip-row
      *ngFor="let fruit of fruits"
      (removed)="remove()"
      [editable]="true"
      [aria-description]="'press enter to edit ' + fruit.name">
      {{ fruit.name }}
      <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
  </div>
  <div class="header-botton">
    <span class="mr-3">{{ polizas() }} pólizas</span>
    <div>
      <span class="mr-3"> Ordenar por:</span>
      <button
        mat-stroked-button
        color="primary"
        class="btn-filter"
        [matMenuTriggerFor]="beforeMenu">
        {{ selectedFilter }}
        <span class="icon-arrow icon"></span>
      </button>
    </div>
  </div>
</div>
<mat-menu #beforeMenu="matMenu" xPosition="before" panelClass="custom-select">
  <ng-container *ngFor="let filter of filters">
    <button mat-menu-item (click)="changeFilter(filter)">
      <span> {{ filter }} </span>
    </button>
  </ng-container>
</mat-menu>
