<div class="container">
  <nav aria-label="breadcrumb" class="breadcrumb">
    <li>
      <a routerLink="/home" routerLinkActive="router-link-active">Home</a>
    </li>
    <li>
      <a routerLink="" routerLinkActive="router-link-active" class="disabled">{{
        currentRoute
      }}</a>
    </li>
  </nav>

  <div class="header">
    <p class="subtitle">Próximas renovaciones</p>
    <div class="header-policy">
      <span class="icon-file"></span>
      <span>770 Pólizas</span>
    </div>
  </div>
</div>
