.container {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}

.help-element {
  display: flex;
  gap: 10px;

}

.footer-nav {
  display: flex;
  gap: 20px;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: #4B98D9;

    }
  }
}

.mat-divider {
  --mat-divider-width: 2px;
}

.mat-divider.mat-divider-vertical {
  border-right-color: rgb(0 0 0 / 30%);
}