<mat-toolbar>
  <img
    width="88"
    height="64"
    class="social-media-element__img"
    ngSrc="assets/img/logo.svg"
    alt="Logo of Secure Insurance" />
  <h3 i18n>Hello World</h3>
  <a class="navbar-brand" href="#">Secure Insurance</a>
  <span class="example-spacer"></span>
  <app-profile-menu />
  <app-language-menu />
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon">
    <span class="icon-menu"></span>
  </button>
</mat-toolbar>

<!-- TODO - Add sidenav -->
<!-- <mat-sidenav-container
  class="example-container"
  (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">Toggle</button></p>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.open()">Open</button></p>
    <p>Closed due to: {{ reason }}</p>
  </mat-sidenav-content>
</mat-sidenav-container> -->
