<mat-toolbar class="example-toolbar header">
  <img
    width="88"
    height="64"
    class="social-media-element__img"
    ngSrc="assets/img/logo.svg"
    alt="Logo of Secure Insurance" />
  <ng-container *ngIf="toolbarState()">
    <nav>
      <app-link to="/">Inicio</app-link>
      <app-link to="/renovaciones">Proximas Renovaciones</app-link>
    </nav>
    <span class="example-spacer"></span>
  </ng-container>
  <div>
    <app-profile-menu />
    <ng-container *ngIf="toolbarState()">
      <app-language-menu />
    </ng-container>
    <ng-container *ngIf="!toolbarState()">
      <button
        mat-icon-button
        class="button"
        (click)="clickMenu()"
        aria-label="Example icon-button with menu icon">
        <span class="icon-menu icon"></span>
      </button>
    </ng-container>
  </div>
</mat-toolbar>
