.example-spacer {
  flex: 1 1 auto;
}

.header {
  background: white;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 5rem;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: var(--mat-toolbar-standard-height);
}

mat-drawer-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}