<button
  mat-fab
  extended
  color="primary"
  class="profile-button"
  [matMenuTriggerFor]="beforeMenu">
  <div class="button-content">
    <mat-icon class="icon-language button-icon"></mat-icon>
    <span class="button-text"
      >{{ selectedLanguage.name }}
      <mat-icon class="icon-arrow button-icon"></mat-icon
    ></span>
  </div>
</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <div *ngFor="let language of languages">
    <button mat-menu-item (click)="changeLanguage(language)">
      <span [ngClass]="selectedLanguage === language ? 'strong' : ''">
        {{ language.name }}
      </span>
    </button>
  </div>
</mat-menu>
