.link {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.link--active::before {
  content: '';
  width: 4px;
  height: 100%;
  background-color: var(--color-primary);

}