<app-bread-crumb />
<app-main-container>
  <app-renovaciones-table-header />
  <app-renovaciones-table />
</app-main-container>

<!-- <mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side">
    <main>
      <header>
        <div class="upbar">
          <button
            mat-icon-button
            class="button"
            (click)="clickMenu()"
            aria-label="Example icon-button with menu icon">
            <span class="icon-close icon"></span>
          </button>
        </div>
      </header>
    </main>
  </mat-sidenav>
  <mat-sidenav-content> </mat-sidenav-content>
</mat-sidenav-container> -->
