*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100vh;
}

@media screen and (max-width: 600px) {

  html,
  body {
    height: 100vh;
    width: 200vw;
  }

}