body {
  font-family: $default-font-family;
  font-size: $default-font-size;
}

strong {
  font-weight: bold;
}

.title {
  font-weight: bold;
  size: 64px;
  letter-spacing: 0%;

  &--subtitle {
    font-weight: normal;
    size: 24px;
  }

  &--small {
    font-weight: bold;
    size: 10px;
    letter-spacing: 0%;
  }
}

.heading-secondary {
  font-weight: bold;
  size: 40px;
  letter-spacing: 0%;
}

.heading-terciary {
  font-weight: 600;
  size: 40px;
  letter-spacing: 0%;
}


@font-face {
  font-family: 'secura-insurance';
  src: url('../../fonts/secura-insurance.eot?a1dl7y');
  src: url('../../fonts/secura-insurance.eot?a1dl7y#iefix') format('embedded-opentype'),
    url('../../fonts/secura-insurance.ttf?a1dl7y') format('truetype'),
    url('../../fonts/secura-insurance.woff?a1dl7y') format('woff'),
    url('../../fonts/secura-insurance.svg?a1dl7y#secura-insurance') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'secura-insurance' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
  content: "\e900";
}

.icon-filter:before {
  content: "\e901";
}

.icon-clock:before {
  content: "\e902";
}

.icon-mail:before {
  content: "\e903";
}

.icon-phone:before {
  content: "\e904";
}

.icon-file:before {
  content: "\e905";
}

.icon-close:before {
  content: "\e906";
}

.icon-user:before {
  content: "\e907";
}