<div class="container">
  <nav aria-label="breadcrumb" class="breadcrumb">
    <li>
      <a routerLink="/renovaciones" routerLinkActive="router-link-active"
        >Detalle de póliza</a
      >
    </li>
    <li>
      <a routerLink="" routerLinkActive="router-link-active" class="disabled">{{
        currentRoute
      }}</a>
    </li>
  </nav>

  <div class="header">
    <p class="subtitle">Hyundai ioniq 2021</p>
    <div class="header-detail">
      <span>No. de póliza: 75846843</span>
    </div>
  </div>
</div>
