<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <ng-container *ngIf="sidenavState()">
      <main>
        <header>
          <div class="upbar">
            <img
              width="88"
              height="64"
              class="social-media-element__img"
              ngSrc="assets/img/logo.svg"
              alt="Logo of Secure Insurance" />
            <button
              mat-icon-button
              class="button"
              (click)="clickMenu()"
              aria-label="Example icon-button with menu icon">
              <span class="icon-close icon"></span>
            </button>
          </div>
          <mat-list role="list">
            <mat-divider />
            <app-link to="/home" [active]="true">
              <mat-list-item role="listitem"> Inicio </mat-list-item>
            </app-link>
            <mat-divider />
            <app-link to="/renovaciones">
              <mat-list-item role="listitem">
                Proximas Renovaciones
              </mat-list-item>
            </app-link>
            <mat-divider />
          </mat-list>
        </header>
        <app-language-menu />
      </main>
    </ng-container>

    <ng-container *ngIf="!sidenavState()">
      <main class="sidenav__filters">
        <header>
          <div class="upbar body__bold">
            <span>Filtros</span>
            <button
              mat-icon-button
              class="button"
              (click)="clickMenu()"
              aria-label="Example icon-button with menu icon">
              <span class="icon-close icon"></span>
            </button>
          </div>
        </header>
        <mat-divider />
        <section>
          <form
            (ngSubmit)="onSubmit()"
            [formGroup]="form"
            class="sidenav__form">
            <div class="sidenav__form-container">
              <div>
                <label for="favorite-food">Estado</label>
                <mat-form-field appearance="outline">
                  <mat-select
                    placeholder="Todos los estados"
                    [formControl]="form.controls.state">
                    <mat-option
                      *ngFor="let cliente of renovaciones"
                      [value]="cliente.nPolicy">
                      {{ cliente.nPolicy }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <label for="favorite-food">Nombre del riesgo</label>
                <mat-form-field
                  appearance="outline"
                  color="primary"
                  class="sidenav__form-input">
                  <input
                    matInput
                    id="favorite-food"
                    placeholder="Introduce el nombre del riesgo"
                    [formControl]="form.controls.riskName" />
                  <mat-hint></mat-hint>
                </mat-form-field>
              </div>
              <!-- <div class="form__datepicker">
                <label for="">Fecha de validez</label>
                <div class="form__datepicker-inputs">
                  <mat-form-field class="example-full-width">
                    <mat-label>Choose a date</mat-label>
                    <input
                      matInput
                      [min]="minDate"
                      [max]="maxDate"
                      [matDatepicker]="picker" />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <span>al</span>
                  <mat-form-field class="example-full-width">
                    <mat-label>Choose a date</mat-label>
                    <input
                      matInput
                      [min]="minDate"
                      [max]="maxDate"
                      [matDatepicker]="picker" />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div> -->
              <div>
                <label for="favorite-food">Importe</label>
                <mat-form-field
                  appearance="outline"
                  color="primary"
                  class="sidenav__form-input">
                  <input
                    matInput
                    id="favorite-food"
                    placeholder="pat@example.com"
                    [formControl]="form.controls.amoutCantity" />
                  <mat-hint></mat-hint>
                </mat-form-field>
              </div>
              <div>
                <label for="favorite-food">Estado</label>
                <mat-form-field appearance="outline">
                  <mat-select
                    placeholder="Todos los estados"
                    [formControl]="form.controls.state">
                    <mat-option *ngFor="let state of states" [value]="state.id">
                      {{ state.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <footer>
              <mat-divider />
              <div class="footer__buttons">
                <app-button-outline type="reset">
                  Borrar filtros
                </app-button-outline>

                <button mat-flat-button color="primary" type="submit">
                  Aplicar filtros
                </button>
              </div>
            </footer>
          </form>
        </section>
      </main>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content />
  </mat-sidenav-content>
</mat-sidenav-container>
