@import 'src/assets/scss/base/_screen.scss';

table {
  width: 80%;
  background: transparent;
  border-collapse: separate;
  border-spacing: 0 24px;
}

th[mat-header-cell] {
  background: var(--color-background);
  color: #405258;
  font-size: 16px;
  font-weight: 400;

  @include mobile() {
    display: none;
    margin: 0;
    padding: 0;
  }
}

thead[mat-header-cell] {
  @include mobile() {
    display: none;
    margin: 0;
    padding: 0;
  }
}

tbody {
  @include mobile() {
    display: none;
    margin: 0;
    padding: 0;
  }
}

td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}


td[mat-cell] {
  @include mobile() {
    padding: 0.5rem;
    border-bottom: 0px;
  }

  @include desktop() {
    padding: 24px 16px 24px 16px;
  }


  >span {
    display: none;

    @include mobile() {
      display: block;
      color: rgba(64, 82, 88, 1);
    }
  }
}




tr[mat-row] {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 20px;

  @include mobile() {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    height: auto;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    max-width: auto;
  }


}



.mat-mdc-select-value {
  //styleName: Body;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;

}

::ng-deep .table__pagination .mat-paginator-navigation-next,
::ng-deep .table__pagination .mat-paginator-navigation-previous,
::ng-deep .table__pagination .mat-paginator-navigation-first,
::ng-deep .table__pagination .mat-paginator-navigation-last {
  background-color: white !important;
}

.mat-mdc-icon-button[disabled][disabled] {
  background-color: white !important;
  fill: white !important;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  background-color: white !important;
  fill: white !important;

}




::ng-deep .table__pagination .mat-mdc-icon-button.mat-mdc-button-base {
  background-color: white;
  border-radius: 8px;
  margin-left: 12px;

  ::ng-deep .mat-mdc-paginator-icon {
    fill: var(--color-primary);
  }

}



::ng-deep .table__pagination .mat-mdc-icon-button[disabled][disabled] {
  background-color: white;
  background: rgba(255, 255, 255, 0.5);

  ::ng-deep .mat-mdc-paginator-icon {
    fill: var(--color-grey-50);
  }
}


::ng-deep .mat-mdc-form-field {
  background-color: white !important;
}



.table__pagination {
  font-size: 14px;
  font-weight: 700;
  line-height: 18.75px;
  color: var(--Text-text-subtitle, rgba(64, 82, 88, 1));
  background-color: transparent;
  opacity: 0.8;

  >button {
    background-color: transparent;
    color: var(--Text-text-subtitle, rgba(64, 82, 88, 1));
  }

  .mat-mdc-icon-button svg {
    vertical-align: baseline;
    fill: red;
  }

  @include mobile() {
    display: none;
  }

}

.home {
  display: none;
}



.mat-mdc-table tfoot,
.mat-mdc-table thead,
.mat-mdc-footer-cell,
.mat-mdc-header-row,
.mat-mdc-footer-row,
.mat-mdc-header-cell {
  @include mobile() {
    background: inherit;
    display: none;
  }
}