:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 9px;
}

.mat-mdc-form-field-input-control {
  height: 1.3rem !important;
}


.mat-mdc-input-element {
  color: var(--color-text)
}

.mdc-text-field--filled {
  border: 1px solid var(--color-grey-25);
}
