<button
  mat-fab
  extended
  color="primary"
  class="profile-button"
  [matMenuTriggerFor]="beforeMenu">
  <div class="button-content">
    <mat-icon class="icon-user button-icon"></mat-icon>
    <span class="button-text" i18n
      >Mi Perfil <mat-icon class="icon-arrow button-icon"></mat-icon
    ></span>
  </div>
</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <div mat-menu-item>
    <strong> Mi Perfil </strong>
    <p>
      En este espacio puedes acceder, modificar, gestionar y consultar todo lo
      relacionado con tus servicios de energía. Fácil y rápido.
    </p>
  </div>

  <mat-divider />
  <button mat-menu-item>
    <span class="icon-user"></span>Mis datos personales
  </button>
  <mat-divider />
  <button mat-menu-item active>
    <span class="icon-lock"></span>Mi contraseña
  </button>
  <mat-divider />
  <button mat-menu-item><span class="icon-phone"></span>Contacto</button>
  <mat-divider />
  <button mat-menu-item>
    <span class="icon-power-off"></span>Cerrar sesión
  </button>
</mat-menu>
