.container {

  background: var(--Background-bg-0, rgba(255, 255, 255, 1));

  padding: 32px 88px 32px 88px;
  display: grid;
  gap: 40px;
  border: 0px 0px 1px 0px;
  opacity: 0px;
  border-bottom: 1px solid var(--Main-colors-Gray_01, rgba(183, 203, 211, 1))
}

.breadcrumb {
  display: flex;
}


li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline;
}

li:not(:first-of-type) {
  margin-left: 12px;
}

li::after {
  content: '/';
  margin-left: 12px;
  opacity: 0.5;
}

li:last-of-type::after {
  content: "";
}

a {
  color: var(--color-primary);
}


.disabled {
  text-transform: capitalize;
  color: var(--color-text-disabled);
  color: currentColor;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-policy {
  width: Hug (139px)px;
  height: Hug (36px)px;
  padding: 8px 12px 8px 12px;
  gap: 12px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  background: var(--Background-bg-100, rgba(239, 243, 245, 1));

}

@media screen and (max-width: 600px) {
  .breadcrumb {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .container {
    padding: 24px 16px 24px 16px;
  }

  .header-policy {
    width: fit-content;
  }
}