.mat-mdc-unelevated-button:not(:disabled) {
  border-radius: 8px;
  color: black;

  &:hover {
    background-color: var(--color-primary-75);
  }

  &:active {
    border: 1px solid var(--color-primary);
  }
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.button {
  background: rgba(207, 225, 241, 1);
  padding: 10px 16px 10px 16px;
  gap: 10px;
  border-radius: 8px;

}