<div class="container">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title subtitle">Titular</mat-card-title>
      <button
        mat-fab
        extended
        color="progress"
        class="card__button"
        (click)="actualizarDetalle()">
        <span class="icon-file icon mr-2"></span>
        <span class="card__button-text">Actualizar</span>
      </button>
    </mat-card-header>
    <mat-card-content>
      <main>
        <section>
          <span class="body opacity-75">CIF</span>
          <p class="body__bold">H59721886</p>
        </section>
        <section>
          <span class="body opacity-75">Nombre</span>
          <p class="body__bold">José Martínez</p>
        </section>
        <section>
          <span class="body opacity-75">Dirección fiscal</span>
          <p class="body__bold">Casanova 128</p>
        </section>
        <section>
          <span class="body opacity-75">Estado de la póliza</span>
          <p class="body__bold">09001</p>
        </section>
      </main>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title subtitle"
        >Dirección de facturación</mat-card-title
      >
      <button
        mat-fab
        extended
        color="progress"
        class="card__button"
        (click)="actualizarDetalle()">
        <span class="icon-file icon mr-2"></span>
        <span class="card__button-text">Actualizar</span>
      </button>
    </mat-card-header>
    <mat-card-content>
      <main>
        <section>
          <span class="body opacity-75">Dirección</span>
          <p class="body__bold">CP LLUIS COMPANYS Nº 6, CL</p>
        </section>
        <section>
          <span class="body opacity-75">Número</span>
          <p class="body__bold">71</p>
        </section>
        <section>
          <span class="body opacity-75">Ciudad</span>
          <p class="body__bold">Barcelona</p>
        </section>
        <section>
          <span class="body opacity-75">Código postal</span>
          <p class="body__bold">09001</p>
        </section>
      </main>
    </mat-card-content>
  </mat-card>
</div>
