<table mat-table [dataSource]="dataSource" class="table">
  <ng-container matColumnDef="nPolicy">
    <th mat-header-cell *matHeaderCellDef class="display-none-mobile">
      No. de póliza
    </th>
    <td mat-cell *matCellDef="let renovacion">
      <span>No. de póliza</span>{{ renovacion.nPolicy }}
    </td>
  </ng-container>

  <!-- Index Column -->
  <ng-container matColumnDef="riskName">
    <th mat-header-cell *matHeaderCellDef class="display-none-mobile">
      Nombre del riesgo
    </th>
    <td mat-cell *matCellDef="let renovacion">
      <span>Nombre del riesgo</span>{{ renovacion.riskName }}
    </td>
  </ng-container>

  <!-- Count Column -->
  <ng-container matColumnDef="contractDate">
    <th mat-header-cell *matHeaderCellDef class="display-none-mobile">
      Fecha contrato
    </th>
    <td mat-cell *matCellDef="let renovacion">
      <span>Fecha contrato</span> {{ renovacion.contractDate | dateEuro }}
    </td>
  </ng-container>

  <!-- First Column -->
  <ng-container matColumnDef="expirationDate">
    <th mat-header-cell *matHeaderCellDef class="display-none-mobile">
      Fecha de vencimiento
    </th>
    <td mat-cell *matCellDef="let renovacion">
      <span>Fecha de vencimiento</span>
      {{ renovacion.expirationDate | dateEuro }}
    </td>
  </ng-container>

  <!-- Last Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef class="display-none-mobile">
      Importe
    </th>
    <td mat-cell *matCellDef="let renovacion">
      <span>Importe</span>
      <strong>
        {{ renovacion.amount | currencyEuro }}
      </strong>
    </td>
  </ng-container>

  <!-- Even Column -->
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef class="display-none-mobile">
      Estado de la póliza
    </th>
    <td mat-cell *matCellDef="let renovacion">
      <span>Estado de la póliza</span>
      <app-status-flag [status]="renovacion.state" />
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSize]="10"
  [pageSizeOptions]="[10, 25, 50, 100]"
  [showFirstLastButtons]="true"
  aria-label="Select page"
  class="table__pagination"
  [ngClass]="isOnHomePage ? 'home' : ''">
</mat-paginator>
