<table mat-table [dataSource]="renovaciones" class="mat-elevation-z8">
  <ng-container matColumnDef="nPolicy">
    <th mat-header-cell *matHeaderCellDef>
      <span class="mat-subtitle-1">No. de póliza</span>
    </th>
    <td mat-cell *matCellDef="let renovacion">{{ renovacion.nPolicy }}</td>
  </ng-container>

  <!-- Index Column -->
  <ng-container matColumnDef="riskName">
    <th mat-header-cell *matHeaderCellDef>index</th>
    <td mat-cell *matCellDef="let renovacion">{{ renovacion.riskName }}</td>
  </ng-container>

  <!-- Count Column -->
  <ng-container matColumnDef="contractDate">
    <th mat-header-cell *matHeaderCellDef>contractDate</th>
    <td mat-cell *matCellDef="let renovacion">
      {{ renovacion.contractDate }}
    </td>
  </ng-container>

  <!-- First Column -->
  <ng-container matColumnDef="expirationDate">
    <th mat-header-cell *matHeaderCellDef>expirationDate</th>
    <td mat-cell *matCellDef="let renovacion">
      {{ renovacion.expirationDate }}
    </td>
  </ng-container>

  <!-- Last Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>amount</th>
    <td mat-cell *matCellDef="let renovacion">{{ renovacion.amount }}</td>
  </ng-container>

  <!-- Even Column -->
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>state</th>
    <td mat-cell *matCellDef="let renovacion">
      <app-status-flag [status]="renovacion.state" />
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
