table {
  width: 80%;
  border-spacing: 0 8px;
  background: transparent;
  box-shadow: none;
}

th[mat-header-cell] {
  border-radius: 6px;
  background: var(--color-background);
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;

}



td[mat-cell] {
  border-radius: 6px;

  >span {
    display: none;
  }
}

tr[mat-row] {
  background: #ffffff;


}

@media screen and (max-width: 600px) {

  th[mat-header-cell] {
    display: none;
  }

  tr[mat-row] {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    height: auto;
    width: Fixed (343px)px;
    height: Hug (369px)px;
    padding: 16px 0px 0px 0px;
    gap: 16px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;

  }



  td[mat-cell] {
    padding: 0.5rem;
    border-bottom: 0px;

    >span {
      display: block;
    }
  }

}