table {
  width: 80%;
  border-spacing: 0 8px;
  background: transparent;
  box-shadow: none;
}

th[mat-header-cell] {
  border-radius: 6px;
  background: var(--color-background);
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;

}



td[mat-cell] {
  border-radius: 6px;
}

tr[mat-row] {
  background: #ffffff;
}