<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="nPolicy">
    <th mat-header-cell *matHeaderCellDef>No. de póliza</th>
    <td mat-cell *matCellDef="let renovacion">
      <span>No. de póliza</span>{{ renovacion.nPolicy }}
    </td>
  </ng-container>

  <!-- Index Column -->
  <ng-container matColumnDef="riskName">
    <th mat-header-cell *matHeaderCellDef>Nombre del riesgo</th>
    <td mat-cell *matCellDef="let renovacion">
      <span>Nombre del riesgo</span>{{ renovacion.riskName }}
    </td>
  </ng-container>

  <!-- Count Column -->
  <ng-container matColumnDef="contractDate">
    <th mat-header-cell *matHeaderCellDef>Fecha contrato</th>
    <td mat-cell *matCellDef="let renovacion">
      <span>Fecha contrato</span> {{ renovacion.contractDate | dateEuro }}
    </td>
  </ng-container>

  <!-- First Column -->
  <ng-container matColumnDef="expirationDate">
    <th mat-header-cell *matHeaderCellDef>Fecha de vencimiento</th>
    <td mat-cell *matCellDef="let renovacion">
      <span>Fecha de vencimiento</span>
      {{ renovacion.expirationDate | dateEuro }}
    </td>
  </ng-container>

  <!-- Last Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Importe</th>
    <td mat-cell *matCellDef="let renovacion">
      <span>Importe</span>
      <strong>
        {{ renovacion.amount | currencyEuro }}
      </strong>
    </td>
  </ng-container>

  <!-- Even Column -->
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>Estado de la póliza</th>
    <td mat-cell *matCellDef="let renovacion">
      <span>Estado de la póliza</span>
      <app-status-flag [status]="renovacion.state" />
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  [ngStyle]="{ display: !isOnHomePage ? 'block' : 'none' }"
  aria-label="Select page of periodic elements">
</mat-paginator>
