table {
  width: 80%;
  background: transparent;
  border-collapse: separate;
  border-spacing: 0 24px;
}

th[mat-header-cell] {
  background: var(--color-background);
  color: #405258;
  font-size: 16px;
  font-weight: 400;
}

td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}


td[mat-cell] {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  padding: 24px 16px 24px 16px;


  >span {
    display: none;
  }
}

tr[mat-row] {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  background: #ffffff;
}

@media screen and (max-width: 600px) {

  th[mat-header-cell] {
    display: none;
  }

  tr[mat-row] {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    height: auto;
    width: Fixed (343px)px;
    height: Hug (369px)px;
    padding: 16px 0px 0px 0px;
    gap: 16px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;

  }



  td[mat-cell] {
    padding: 0.5rem;
    border-bottom: 0px;

    >span {
      display: block;
    }
  }

}

.paginator-home {
  display: none;
}