<mat-card>
  <header>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="handleRemoveClick($event); $event.stopPropagation()">
      <div class="icon-trash icon"></div>
    </button>

    <mat-card-title>{{ ClienteElement.personalData.name }}</mat-card-title>
    <mat-card-subtitle
      >Producto a ofrecer: {{ ClienteElement.offerProduct }}</mat-card-subtitle
    >
  </header>

  <footer>
    <p>Email: {{ ClienteElement.personalData.email }}</p>
    <p>Teléfono: {{ ClienteElement.personalData.phone }}</p>
  </footer>
</mat-card>
