.profile-button {
  background-color: transparent;
  border: 0px;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus,
  &:active,
  &:visited,
  &:link,
  &:active,
  &:focus,
  &:hover,
  &:visited {
    background-color: transparent;
    box-shadow: none;
  }
}

.mat-menu-panel {
  box-shadow: none !important;
}

::ng-deep .mat-list-item-content {
  padding: 0 !important;
}

.button-content {

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;


  .button-text {
    color: var(--color-text);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
  }

  .button-icon {
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.button-icon {
  color: var(--color-primary);
}


.strong {
  font-weight: bold;
}


.matMenu {
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

.mat-mdc-menu-panel {
  border-radius: 12px;
}

.mat-mdc-menu-content {
  margin: 0;
  padding: 0;
}