<app-section-container>
  <h3>Clientes potenciales</h3>
  <article class="clientes-container">
    <div *ngFor="let clientePotencial of clientesPotenciales">
      <mat-card class="card">
        <header class="card-header">
          <div class="card-header-info">
            <mat-card-title>{{
              clientePotencial.personalData.name
            }}</mat-card-title>
            <mat-card-subtitle class="card-subtitle">
              Producto a ofrecer:
              {{ clientePotencial.offerProduct }}</mat-card-subtitle
            >
          </div>

          <button
            mat-icon-button
            class="icon-button-small"
            aria-label="Example icon-button with menu icon"
            (click)="removeClientePotencial(clientePotencial)">
            <span class="icon-trash icon"></span>
          </button>
        </header>

        <footer class="card-footer">
          <p class="bold">Email: {{ clientePotencial.personalData.email }}</p>
          <p class="bold">
            Teléfono: {{ clientePotencial.personalData.phone }}
          </p>
        </footer>
      </mat-card>
    </div>
  </article>
</app-section-container>
